venv
wd-hydrus-tagger/__pycache__/*
wd_hydrus_tagger.egg-info/*
dist/*
.idea
.vscode
.vs
ffmpeg
ffmpeg_temp
logs
logs
*.onnx
selected_tags.csv
tags-selected.csv
notes
summary_results
hashes.txt
menu.bat
start_menu_in_venv.bat
test.txt
done-hashes-*.txt
*hashes.txt
checkpoint.txt
